.main {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: white;
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	background-color: #021334;
	color: white;
	padding: 0 5%;
  }
  
  .title {
	max-width: 100%;
	margin: 0 0 0 5%;
	font-weight: 600;
	font-size: clamp(1rem, 2vw, 1.5rem);
  }
  
  .logocontainer {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .logo {
	margin-left: 5%;
	width: 150px;
	max-width: 100%;
  }
  
  .moviesContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 20px;
	background-color: #021334;
	color: white;
  }
  
  .popover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100px;
	background-color: transparent;
	color: white;
	border: 1px white solid;
	border-radius: 4px;
	transition-duration: 0.5s;
	cursor: pointer;
  }
  
  .popover:hover {
	background-color: white;
	color: #F2A643;
	border: none;
  }
  
  .popoverContent {
	display: flex;
	flex-direction: column;
  }
  
  .likedMoviesContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .crossIcon {
	cursor: pointer;
  }
  
  .pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .pagination button {
	margin: 0 10px;
	background-color: #021334;
	color: #efebeb;
  }
  
  .searchBar {
	display: flex;
	justify-content: center;
	margin: 50px auto 0;
	width: 90%;
	max-width: 600px;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
  }
  
  .languageButtons {
	display: flex;
	gap: 10px;
	margin-left: auto;
	padding-right: 8vh;
  }
  
  @media (max-width: 768px) {
	.header {
	  flex-direction: column;
	  height: auto;
	  padding: 10px 5%;
	}
  
	.title {
	  margin: 10px 0;
	  text-align: center;
	}
  
	.logo {
	  margin-left: 0;
	}
  
	.languageButtons {
	  margin: 10px 0;
	}
  
	.searchBar {
	  margin-top: 20px;
	}
  }
  
  @media (max-width: 480px) {
	.popover {
	  width: 80px;
	  font-size: 0.9rem;
	}
  
	.pagination button {
	  margin: 0 5px;
	  font-size: 0.9rem;
	}
  }